
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    
    }

body.img{
    height: 100%;
    width: 100%;
}

.navbar {
    width: 100%;
    height: 5rem;
    background-color: beige;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
}

html{
    font-size: 62.5%;
}

.navbar-title {
    font-size: 250%;
    color: black;
    margin: 0;
}


#search-form {
    text-align: center;
    padding: 2rem;
}

#genre, #search-input, button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5rem;
}

#results {
    max-width: 80rem;
    margin: 0 auto;
    background-color: beige;
    padding: 2rem;
    border-radius: 10rem;
    display: flex;
    flex-wrap: wrap ;
   justify-content: center;
   gap: 1em;
    
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

}

.single {
    border: 0.3rem solid #000;
    color: #ffffff;
    padding: 1rem;
    
    height: 15rem;
    width: 25rem;
    float: left;
    
    margin-bottom: 1rem;
    border-radius: 10px;
   
    background-color: #171717;
}

.single img {
    width: 25%;
    height: 25%;
}

.detail-page {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}


